/* Primary Loader */
@-webkit-keyframes cascade {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-250%);
		transform: translateY(-250%);
	}
	30%,
	60% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translateY(250%);
		transform: translateY(250%);
	}
}
@keyframes cascade {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-250%);
		transform: translateY(-250%);
	}
	30%,
	60% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translateY(250%);
		transform: translateY(250%);
	}
}

.cascade div {
	background: var(--primary);
}
.cascade div:nth-child(1) {
	-webkit-animation: cascade 1.5s 0.15s ease infinite backwards;
	animation: cascade 1.5s 0.15s ease infinite backwards;
}
.cascade div:nth-child(2) {
	-webkit-animation: cascade 1.5s 0.3s ease infinite backwards;
	animation: cascade 1.5s 0.3s ease infinite backwards;
}
.cascade div:nth-child(3) {
	-webkit-animation: cascade 1.5s 0.45s ease infinite backwards;
	animation: cascade 1.5s 0.45s ease infinite backwards;
}
.cascade div:nth-child(4) {
	-webkit-animation: cascade 1.5s 0.6s ease infinite backwards;
	animation: cascade 1.5s 0.6s ease infinite backwards;
}
.cascade div:nth-child(5) {
	-webkit-animation: cascade 1.5s 0.75s ease infinite backwards;
	animation: cascade 1.5s 0.75s ease infinite backwards;
}

/* Secondary Loader */
.dots-flow:before {
	-webkit-animation: dots-flow 0.85s infinite ease;
	animation: dots-flow 0.85s infinite ease;
	border-radius: 100%;
	content: "";
	height: 16px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -40px);
	transform: translate(-50%, -40px);
	width: 16px;
}

@-webkit-keyframes dots-flow {
	0%,
	100% {
		-webkit-box-shadow: -26px 32px 0px 0 white, 0px 32px 0 0 white,
			26px 32px 0 0 white;
		box-shadow: -26px 32px 0px 0 white, 0px 32px 0 0 white,
			26px 32px 0 0 white;
	}
	35% {
		-webkit-box-shadow: -26px 32px 0 4px maroon, 0px 32px 0 0 white,
			26px 32px 0 0 white;
		box-shadow: -26px 32px 0 4px maroon, 0px 32px 0 0 white,
			26px 32px 0 0 white;
	}
	50% {
		-webkit-box-shadow: -26px 32px 0 0 white, 0px 32px 0 4px red,
			26px 32px 0 0 white;
		box-shadow: -26px 32px 0 0 white, 0px 32px 0 4px red,
			26px 32px 0 0 white;
	}
	65% {
		-webkit-box-shadow: -26px 32px 0px 0 white, 0px 32px 0 0 white,
			26px 32px 0 4px maroon;
		box-shadow: -26px 32px 0px 0 white, 0px 32px 0 0 white,
			26px 32px 0 4px maroon;
	}
}

@keyframes dots-flow {
	0%,
	100% {
		-webkit-box-shadow: -26px 32px 0px 0 white, 0px 32px 0 0 white,
			26px 32px 0 0 white;
		box-shadow: -26px 32px 0px 0 white, 0px 32px 0 0 white,
			26px 32px 0 0 white;
	}
	35% {
		-webkit-box-shadow: -26px 32px 0 4px maroon, 0px 32px 0 0 white,
			26px 32px 0 0 white;
		box-shadow: -26px 32px 0 4px maroon, 0px 32px 0 0 white,
			26px 32px 0 0 white;
	}
	50% {
		-webkit-box-shadow: -26px 32px 0 0 white, 0px 32px 0 4px red,
			26px 32px 0 0 white;
		box-shadow: -26px 32px 0 0 white, 0px 32px 0 4px red,
			26px 32px 0 0 white;
	}
	65% {
		-webkit-box-shadow: -26px 32px 0px 0 white, 0px 32px 0 0 white,
			26px 32px 0 4px maroon;
		box-shadow: -26px 32px 0px 0 white, 0px 32px 0 0 white,
			26px 32px 0 4px maroon;
	}
}
